html, body, .layout, #root, .body {
    height: 100%;
}

body {
    margin: 0;
}

#app {
    height: 100%;
}

a, a:link, a:visited, a:active {
    text-decoration: none;
}

/*--------------САЙДБАР---------------*/

.list, .list_moved {
    background-color: white;
    min-width: 280px;
    transition: 0.2s linear;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 98%;
}

.list_moved {
    margin-left: -280px;
}

.list__item {
    text-align: start;
    height: 50px;
}

/*--------------СТРАНИЦА ЛОГИНА---------------*/

.login-layout {
    background-color: rgb(0, 188, 212);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-layout__window {
    width: 300px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.login-layout__window__avatar {
    margin-top: 15px;
}

.login-layout__window__button {
    margin-top: 10px;
    width: 90%;
}

/*--------------КОНТЕНТНАЯ ОБЛАСТЬ---------------*/

.body {
    display: flex;
    background-color: rgb(237, 236, 236);
}

.content {
    width: 100%;
}

.content, .content_moved {
    display: flex;
    flex-flow: column;
    transition: all 200ms linear;
    margin: 40px;
    background-color: rgb(237, 236, 236);
}

.content_moved {
    width: 100%;
}

.resource-page {
    background-color: white;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    max-height: 780px;
}

.media-resource {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    max-height: 780px;
    overflow-y: scroll;
}

.big-resource {
    background-color: white;
    padding: 20px;
    max-height: 730px;
    overflow-y: scroll;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(232, 232, 232);
}

.total {
    font-size: 18px
}

/*--------------ФОТОГРАФИИ---------------*/

.photos__gridlist {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

/*--------------ГЛАВНАЯ СТРАНИЦА---------------*/

.dashboard {
    padding: 40px;
}

.dashboard__item {
    width: 350px;
    height: 120px;
    margin: 30px;
    box-shadow: 0 4px 8px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard__title {
    font-size: 24px;
    margin-top: 20px;
    margin-left: 15px;
}

.dashboard__refs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dashboard__item__title {
    color: black;
}

/*--------------ТАБЛИЦЫ---------------*/

.table {
    margin-top: 80px;
}

.table__header__column {
    color: black !important;
    font-size: 14px !important;
    font-weight: 500;
}

.table__row {
    border-color: black !important;
}

.input {
    border: 1px solid black;
    margin-top: 20px;
}

.inputfile {
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + .inputfile__label {
    font-size: 1.25em;
    height: 70px;
    width: 98%;
    margin-left: 15px;
    font-weight: 700;
    color: gray;
    background-color: #edecec;
    display: inline-block;
    text-align: center;
    padding-top: 55px;
    margin-top: 40px;
}

.inputfile:focus + .inputfile__label,
.inputfile + .inputfile__label:hover {
    cursor: pointer;
}

.inputfile__images {
    display: flex;
    justify-content: flex-start;
    margin-left: 15px;
    margin-top: 20px;
}

.inputfile__image {
    width: 100px;
    height: 100px;
    margin-left: 5px;
}

.warning-msg {
    margin: 20px;
    font-weight: bold;
    font-size: large;
}

.profile__label {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.resource-filters {
    margin-left: 15px;
    display: flex;
    flex-flow: column;
}

.resource-headline {
    display: flex;
    justify-content: space-between;
}

.resource-buttons {
    margin-top: 15px;
}

.resource-actions {
    display: flex;
    justify-content: flex-end;
}

.filter {
    display: flex;
}